$background: white;
$background-secondary: #F4F4F4;
$border: #E1E1E1;
$background-subtle: #C6C6C6;
$background-interaction: #EFEFEF;
$foreground: #161616;
$foreground-unfocused: #525252;
$foreground-label: #A8A8A8;
$accent: #0F62FE;
$accent-weak: #87B0FF;
$warning-background: #FFF3D1;
$warning-background-interaction: #FEF0CB;
$warning-border: #EDDAA7;
$warning-foreground: #916A00;
$inspection-glow: rgba(113, 213, 187, 0.7);
$inspection-accent: #008D71;
$inspection-border: #29AD93;